<nav class="bg-pink-100 dark:bg-darkNight text-gray-900 dark:text-gray-900 px-6 py-4 shadow-md flex justify-between items-center sticky top-0 z-50">
    <a routerLink="/" class="text-2xl font-kawaii font-bold">
      🌸 Devka
    </a>
  
    <ul class="hidden md:flex gap-4 font-semibold">
      <li><a routerLink="/" class="hover:text-kawaiiPink transition">Home</a></li>
      <li><a routerLink="/about" class="hover:text-kawaiiPink transition">About</a></li>
      <li><a routerLink="/skills" class="hover:text-kawaiiPink transition">Skills</a></li>
      <li><a routerLink="/projects" class="hover:text-kawaiiPink transition">Projects</a></li>
      <li><a routerLink="/blog" class="hover:text-kawaiiPink transition">Blog</a></li>
      <li><a routerLink="/contact" class="hover:text-kawaiiPink transition">Contact</a></li>
    </ul>
  
    <!-- TODO: dark mode & language switch -->
</nav>
