<nav class="bg-pink-100 dark:bg-darkNight text-gray-100 dark:text-gray-900 px-6 py-4 shadow-md flex justify-between items-center sticky top-0 z-50 backdrop-blur-md">
    <a routerLink="/" class="text-2xl font-kawaii font-bold hover:scale-105 transform transition duration-300 flex gap-2">
        <div class="w-8 h-8 cursor-pointer bg-flower"></div> Sakura Dev
    </a>

    <ul class="hidden md:flex gap-6 font-semibold text-lg">
        <li *ngFor="let link of navLinks">
          <a 
            [routerLink]="link.path" 
            class="nav-anime relative transition-colors transition-transform duration-300 hover:text-pink-400 hover:scale-105 block p-2"
          >
            {{ link.label }}
          </a>
        </li>
    </ul>
    
    <button 
    (click)="toggleMenu()" 
    id="menuToggleBtn" 
    class="menu md:hidden text-2xl hover:scale-105"
    [attr.aria-label]="isMenuOpen ? 'Zamknij menu' : 'Otwórz menu'"
    >
      <div class="w-8 h-8 cursor-pointer bg-menu"></div>
    </button>
</nav>

<div *ngIf="isMenuOpen" id="mobileMenu"class="bg-pink-100 dark:bg-darkNight shadow-md p-4 md:hidden">
  <ul class="flex flex-col gap-4 font-semibold text-lg" role="menu">
    <li *ngFor="let link of navLinks">
      <a 
        [routerLink]="link.path"
        (click)="toggleMenu()"
        role="menuitem"
        class="nav-anime relative transition-colors transition-transform duration-300 hover:text-pink-400 hover:scale-105 block mx-4 p-2"
      >
        {{ link.label }}
      </a>
    </li>
  </ul>
</div>