<nav class="bg-pink-100 dark:bg-darkNight text-gray-100 dark:text-gray-900 px-6 py-4 shadow-md flex justify-between items-center sticky top-0 z-50 backdrop-blur-md">
    <a routerLink="/" class="text-3xl font-kawaii font-bold hover:scale-105 transform transition duration-300">
        🌸 Devka 
    </a>
    <ul class="hidden md:flex gap-6 font-semibold text-lg">
        <li><a routerLink="/" class="nav-anime">Home</a></li>
        <li><a routerLink="/about" class="nav-anime">About</a></li>
        <li><a routerLink="/skills" class="nav-anime">Skills</a></li>
        <li><a routerLink="/projects" class="nav-anime">Projects</a></li>
        <li><a routerLink="/blog" class="nav-anime">Blog</a></li>
        <li><a routerLink="/contact" class="nav-anime">Contact</a></li>
    </ul>
</nav>