<footer class="bg-pink-100 dark:bg-darkNight text-gray-100 dark:text-gray-900 shadow-[0_-4px_6px_-1px_rgba(0,0,0,0.1),0_-2px_4px_-2px_rgba(0,0,0,0.1)]">
    <div class="flex flex-col md:flex-row justify-between items-center px-6 py-6 gap-2 md:gap-0 text-center md:text-left">
        <div>
            <p class="text-lg font-kawaii font-semibold">Get to know me better and stay for longer!
            </p>
        </div>
        <div class="flex flex-wrap justify-center md:justify-end gap-4">
            <a href="#">
                <div class="w-6 h-6 bg-fb"></div>
            </a>
            <a href="#">
                <div class="w-6 h-6 bg-ig"></div>
            </a>
            <a href="#">
                <div class="w-6 h-6 bg-tt"></div>
            </a>
            <a href="#">
                <div class="w-6 h-6 bg-yt"></div>
            </a>
            <a href="#">
                <div class="w-6 h-6 bg-gh"></div>
            </a>
            <a href="#">
                <div class="w-6 h-6 bg-li"></div>
            </a>
        </div>
    </div>
</footer>
