.bg-fb {
    background: url('../../../assets/icons/facebook-01.svg') center / cover no-repeat;
}

.bg-ig {
    background: url('../../../assets/icons/instagram-01.svg') center / cover no-repeat;
}

.bg-tt
 {
    background: url('../../../assets/icons/tiktok-01.svg') center / cover no-repeat;
}

.bg-yt {
    background: url('../../../assets/icons/youtube-01.svg') center / cover no-repeat;
}

.bg-gh {
    background: url('../../../assets/icons/github-01.svg') center / cover no-repeat;
}

.bg-li {
    background: url('../../../assets/icons/linkedin-01.svg') center / cover no-repeat;
}